@mixin boxSetting($display, $width, $height, $padding, $margin) {
    display: $display;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@mixin backgroundSetting($bg, $bgSize) {
    background: url($bg) no-repeat;
    background-size: $bgSize;
}

@mixin positionSetting($pos, $top, $right, $bottom, $left, $zIndex) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $zIndex;
}

@mixin fontSetting($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}
 
body.noneScroll {
    height: 100%;
    min-height:100%;
    overflow: hidden;
    touch-action: none;
}

.wrpa {
    @include backgroundSetting("../img/KakaoTalk_20210609_121030825.jpg", 2850px 1860px);
    background-position: center;
}

.page1 {
    height: 890px;
    padding: 50px 0 0px;
    position: relative;
    
    .page1-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .page1-title-wrap {
            @include boxSetting(null, 375px, 217px, null, 30px 0 60px 0);

            img {
                width: 100%;
                height: 100%;
            }
        }

        .btn-wrap {
            width: 350px;
            position: relative;

            button {
                width: 100%;
                height: 70px;
                text-indent: -9999px;
                @include backgroundSetting("../img/start-btn.png", cover);
            }
        }

        .page1-img-wrap {
            width: 100%;
            overflow: hidden;

            .page1-imge {
                @include boxSetting(null, 100%, 324px, 0, 70px 0 0 0);
                @include backgroundSetting("../img/KakaoTalk_20210608_161429421.png", 1000px 324px);
                background-position: center;
    
                @media (max-width: 700px){
                    width: 100%;
                    @include backgroundSetting("../img/KakaoTalk_20210608_175813125.png", 100% 280px);
                }
            }
        }
    }
}

.page2 {
    height: 970px;
    padding-top: 80px;
    position: relative;
    overflow: hidden;

    .page2-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .title-wrap {
            line-height: 35px;
            margin-bottom: 32px;

            img {
                display: block;
                height: 35px;
            }
        }

        .mbti-result-slide-wrap {
            @include boxSetting(flex, 900px, 330px, null,  0 0 300px 0);
            justify-content: center;
            position: relative;
            @media (max-width: 500px){ margin: 0 0 250px 0 };

            .swiper-container {
                width: 100%;
                height: 100%;

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    border: 4px solid #000;
                    background: #fff;
                    padding-top: 30px;
                    opacity: 0;

                    &.swiper-slide-prev { opacity: 0.5; }

                    &.swiper-slide-active {
                        opacity: 1;
                        background: #fff;
                        z-index: 10;

                        .mbti-imge-btn {
                            pointer-events: initial;
                        }
                    }

                    &.swiper-slide-next { opacity: 0.5; }

                    .mbti-title {
                        @include fontSetting(35px, #0080ff, null);
                        margin-bottom: 10px;
                        font-family: ONE Mobile POP;
                    }

                    .mbti-subTitle {
                        font-size: 22px;
                        letter-spacing: -1px;
                        font-family: ONE Mobile POP;
                    }
                
                    .mbti-imge-btn {
                        @include boxSetting(block, 180px, 180px, null, 0 auto);
                        pointer-events: none;

                        .mbti-imge {
                            @include boxSetting(null, 100%, 100%, null, 0 auto);
                        }
                    }
                    
                }

                .swiper-button-prev {
                    @media (max-width: 500px){ left: 330px; }
                    &::after { @include fontSetting(null, #000, bold); }
                }
                .swiper-button-next {
                    @media (max-width: 500px){ right: 330px; }
                    &::after { @include fontSetting(null, #000, bold); }
                }
            }

            .action-box-wrap {
                @include boxSetting(none, 100%, 100%, null, null);
                @include positionSetting(fixed, 0, null, null, 0, 20);
                background: #000000b5;

                @keyframes openDimAni {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }

                @keyframes openBoxAni {
                    from { transform: scale(.1); }
                    to { transform: scale(1); }
                }

                &.active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    animation: openDimAni .4s forwards;

                    .action-box-inner {
                        animation: openBoxAni .4s forwards;
                    }
                }

                .action-box-inner {
                    @include boxSetting(null, 393px, 500px, 6px 7px 12px, null);
                    border: 4px solid #000;
                    border-radius: 10px;
                    background: #fff;
                    overflow: hidden;

                    .close-btn {
                        @include boxSetting(flex, 17px, 17px, null, 0 0 0 auto);
                        @include backgroundSetting("../img/close-icon.png", 100%);
                        text-indent: -9999px;
                    }

                    .action-box-title {
                        @include boxSetting(null, 273px, 28px, null, 0 auto);
                        @include fontSetting(22px, null, bold);
                        line-height: 28px;
                        letter-spacing: -2px;
                    }

                    .action-imge {
                        height: 200px;
                    }

                    .action-title {
                        @include fontSetting(35px, #0080ff, bold);
                        height: 38px;
                        line-height: 38px;
                    }

                    .action-text {
                        @include fontSetting(20px, null, bold);
                        height: 25px;
                        line-height: 25px;
                        margin-bottom: 15px;
                    }

                    .action-details-text-wrap {
                        height: 140px;
                        text-align: left;
                        overflow: hidden;
                        overflow-y: auto;
                    }
                }
            }
        }

        .sns-sharing-wrap {
            width: 382px;

            .btn-wrap {
                display: flex;
                justify-content: center;
                align-items: flex-end;
                width: 100%;

                button {
                    @include boxSetting(null, 60px, 60px, null, 0 15px);
                    border-radius: 20px;
                    box-shadow: 7px 6px 5px #00000033;

                    &.facebook-btn { @include backgroundSetting("../img/facebook.png", 100%); }

                    &.kakao-btn { @include backgroundSetting("../img/kakao.png", 100%); }

                    &.insta-btn { @include backgroundSetting("../img/instagram.png", 100%); }
                }
            }
        }

        .nfqs-logo-wrap {
            margin-top: 65px;

            a {
                @include boxSetting(block, 223px, 40px, null, null);
                @include backgroundSetting("../img/nfqs.png", cover);
                text-indent: -9999px;
            }
        }
    }
}