body {

    &.noneScroll {
        height: 100%;
        min-height:100%;
        overflow: hidden;
        touch-action: none;
    }
}

.wrap {
    padding: 40px 0 40px 0;
    background: #0080ff;

    > div {
        max-width: 350px;
        margin: 0 auto;
    }

    .result-title-wrap {
        width: 220px;
        height: 40px;
        line-height: 41px;
        text-align: center;
        border-radius: 12px;
        background: #023784;
        margin-bottom: 20px;
        
        .title {
            color: #fff;
            font-size: 22px;
            font-family: ONE Mobile POP;
        }
    }

    .result-mbti-title-wrap {
        text-align: center;

        .result-mbti-sub-title {
            font-size: 27px;
            font-family: ONE Mobile POP;
            color: #B7FFFE;
            margin-bottom: 5px;
        }

        .result-mbti-title {
            font-size: 42px;
            color: #fff;
            font-family: ONE Mobile POP;
        }
    }

    .result-mbti-img-wrap {
        text-align: center;
        margin-bottom: 20px;

        img {
            width: 230px;
            height: 230px;
        }
    }

    .result-text-box {
        padding: 36px 25px;
        margin-bottom: 35px;
        border-radius: 20px;
        background: #fff;

        .result-box-sub-title {
            font-size: 19px;
            color: #023784;
            font-weight: 900;
            text-align: center;
            letter-spacing: -1px;
            margin-bottom: 8px;
        }

        .result-box-title-wrap {
            width: fit-content;
            margin: 0 auto 20px;
            margin-bottom: 20px;
            position: relative;

            .result-box-title {
                font-size: 33px;
                color: #002dad;
                font-family: ONE Mobile POP;
                text-align: center;
                letter-spacing: -2px;
                position: relative;
                z-index: 10;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 12px;
                background-color: #ffecb8;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
        }

        .result-box-text-title-wrap {
            display: flex;
            align-items: flex-end;
            margin-bottom: 10px;

            img {
                width: 29px;
                height: 25px;
                margin-right: 3px;
            }

            .result-box-text-title {
                color: #023784;
                font-weight: 900;
                letter-spacing: -1px;
            }
        }
        
        .reulst-box-text {
            line-height: 20px;
            letter-spacing: -1px;
        }
    }

    .result-bad-good-card-box-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .result-card {
            width: 171px;
            height: 220px;
            padding-top: 20px;
            text-align: center;
            position: relative;
            border-radius: 18px;
            background: #fff;

            .card-title {
                width: 112px;
                height: 39px;
                line-height: 39px;
                text-align: center;
                color: #fff;
                font-size: 22px;
                font-family: ONE Mobile POP;
                border-radius: 12px;
                background: #023784;
                position: absolute;
                bottom: 200px;
                left: 30px;
            }
        }

        img {
            width: 140px;
            height: 140px;
            margin-bottom: 15px;
        }

        .result-card-text-wrap {
            width: fit-content;
            position: relative;
            margin: 0 auto;

            .result-card-text {
                font-size: 22px;
                font-family: ONE Mobile POP;
                color: #023784;
                letter-spacing: -1.5px;
                position: relative;
                z-index: 10;
            }

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 8px;
                background-color: #ffecb8;
                bottom: 0;
                left: 0;
                z-index: 0;
            }
        }
    }
    .banner-img {
        max-width: none;
        height: 125px;
        width: 100%;
        margin-bottom: 50px;
        background:url("../img/banner.png");
        background-size: auto 125px;
        background-position: center;
    }

    .view-all-type-btn-wrap {
        margin: 0 auto 35px;
        
        .view-btn {
            width: 350px;
            height: 70px;
            text-indent: -9999px;
            background: url('../img/view-btn-img.png') no-repeat;
            background-size: cover;
        }

        .view-wrap {
            display: none;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 20;
            background: #00000099;

            @keyframes openDimAni {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            @keyframes openBoxAni {
                from { transform: scale(.1); }
                to { transform: scale(1); }
            }

            &.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: openDimAni .4s forwards;

                .top-img-wrap {
                    opacity: 1;
                }

                .view-all-type-box {
                    animation: openBoxAni .4s forwards;
                }
            }

            .top-img-wrap {
                max-width: 250px;
                position: relative;
                top: 60px;
                opacity: 0;
                transition: .5s;
                z-index: 10;
                

                img {
                    width: 100%;
                }
            }

            .view-all-type-box {
                max-width: 700px;
                min-width: 360px;
                width: 100%;
                height: 500px;
                padding: 0 20px;
                margin-bottom: 100px;
                position: relative;
                border-radius: 20px;
                border: 5px solid #000;
                background: #fff;

                .close-btn-wrap {
                    padding-top: 15px;
                    margin-bottom: 15px;

                    button {
                        display: flex;
                        width: 35px;
                        height: 35px;
                        text-indent: -9999px;
                        margin: 0 0 0 auto;
                        background: url("../img/close-icon.png") no-repeat;
                        background-size: 100%;
                    }
                }

                .view-all-type-box-title {
                    font-size: 30px;
                    font-family: ONE Mobile POP;
                    color: #023784;
                    text-align: center;
                    margin-bottom: 15px;
                }

                .view-type-item-box-wrap {
                    overflow-y: scroll;
                    height: 350px;

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        height: 100%;

                        li {
                            width: 100px;
                            margin: 0 25px 10px;
                            @media (max-width: 600px){
                                margin: 0 0 10px 0;    
                            }

                            img {
                                width: 100%;
                            }

                            p {
                                text-align: center;
                                font-size: 18px;
                                font-family: ONE Mobile POP;
                                font-weight: 900;
                                color: #023784;
                            }
                        }
                    }
                }
            }

            
        }
        
    }

    .return-btn-wrap {
        text-align: center;
        
        .return-btn {
            display: block;
            width: 360px;
            height: 70px;
            text-indent: -9999px;
            background: url("../img/return-btn.png") no-repeat;
            background-size: cover;
        }
    }
}