@mixin boxSetting($display, $width, $height, $padding, $margin) {
    display: $display;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@mixin backgroundSetting($bg, $bgSize) {
    background: url($bg) no-repeat;
    background-size: $bgSize;
}

@mixin positionSetting($pos, $top, $right, $bottom, $left, $zIndex) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $zIndex;
}

@mixin fontSetting($size, $color, $weight) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
}


body.noneScroll {
    height: 100%;
    min-height:100%;
    overflow: hidden;
    touch-action: none;
}

.wrap {
    padding: 40px 0 40px 0;
    background: #0080ff;

    .result-title-wrap {
        @include boxSetting(null, 220px, 40px, null, 0 auto 20px);
        line-height: 41px;
        text-align: center;
        border-radius: 12px;
        background: #023784;
        
        .title {
            @include fontSetting(22px, #fff, null);
            font-family: ONE Mobile POP;
        }
    }

    .result-mbti-title-wrap {
        text-align: center;
        margin: 0 auto;

        .result-mbti-sub-title {
            @include fontSetting(27px, #B7FFFE, null);
            font-family: ONE Mobile POP;
            margin-bottom: 5px;
        }

        .result-mbti-title {
            @include fontSetting(42px, #fff, null);
            font-family: ONE Mobile POP;
        }
    }

    .result-mbti-img-wrap {
        margin: 0 auto 20px;

        img {
            @include boxSetting(null, 230px, 230px, null, null);
        }
    }

    .result-text-box {
        @include boxSetting(null, null, null, 36px 25px, 0 auto 35px);
        max-width: 350px;
        border-radius: 20px;
        background: #fff;

        .result-box-sub-title {
            @include fontSetting(19px, #023784, bold);
            letter-spacing: -1px;
            margin-bottom: 8px;
        }

        .result-box-title-wrap {
            @include boxSetting(null, fit-content, null, null, 0 auto 20px);
            position: relative;

            .result-box-title {
                @include fontSetting(33px, #002dad, null);
                @include positionSetting(relative, null, null, null, null, 10);
                font-family: ONE Mobile POP;
                letter-spacing: -2px;
            }

            &::after {
                content: "";
                @include boxSetting(null, 100%, 12px, null, null);
                @include positionSetting(absolute, null, null, 0, 0, 0);
                background-color: #ffecb8;
            }
        }

        .result-box-text-title-wrap {
            @include boxSetting(flex, null, null, null, 0 0 10px 0);
            align-items: flex-end;

            img {
                @include boxSetting(null, 29px, 25px, null, 0 3px 0 0);
            }

            .result-box-text-title {
                @include fontSetting(null, #023784, bold);
                letter-spacing: -1px;
            }
        }
        
        .reulst-box-text {
            line-height: 20px;
            letter-spacing: -1px;
            text-align: left;
            margin-bottom: 16px;
        }

        .warning-text {
            @include fontSetting(14px, #8e0000, null);
        }
    }

    .result-bad-good-card-box-wrap {
        @include boxSetting(flex, null, null, null, 0 auto 50px);
        max-width: 350px;
        justify-content: space-between;

        .result-card {
            @include boxSetting(null, 171px, 220px, 20px 0 0 0, null);
            position: relative;
            border-radius: 18px;
            background: #fff;

            .card-title {
                @include boxSetting(null, 112px, 39px, null, null);
                @include fontSetting(22px, #fff, null);
                @include positionSetting(absolute, null, null, 200px, 30px, null);
                line-height: 39px;
                font-family: ONE Mobile POP;
                border-radius: 12px;
                background: #023784;
            }
        }

        img {
            @include boxSetting(null, 140px, 140px, null, 0 0 15px 0);
        }

        .result-card-text-wrap {
            @include boxSetting(null, fit-content, null, null, 0 auto);
            position: relative;

            .result-card-text {
                @include fontSetting(22px, #023784, null);
                @include positionSetting(relative, null, null, null, null, 10);
                font-family: ONE Mobile POP;
                letter-spacing: -1.5px;
            }

            &::after {
                content: "";
                @include boxSetting(null, 100%, 8px, null, null);
                @include positionSetting(absolute, null, null, 0, 0, 0);
                background-color: #ffecb8;
            }
        }
    }
    .banner-img {
        @include boxSetting(null, 100%, 125px, null, 0 0 50px 0);
        @include backgroundSetting("../img/banner.png", auto 125px);
        background-position: center;
    }

    .view-all-type-btn-wrap {
        margin-bottom: 35px;
        
        .view-btn {
            @include boxSetting(null, 350px, 70px, null, null);
            @include backgroundSetting('../img/view-btn-img.png', cover);
            text-indent: -9999px;
        }

        .view-wrap {
            @include boxSetting(none, 100%, 100%, 0 20px, null);
            @include positionSetting(fixed, 0, null, null, 0, 20);
            background: #00000099;

            @keyframes openDimAni {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            @keyframes openBoxAni {
                from { transform: scale(.1); }
                to { transform: scale(1); }
            }

            &.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                animation: openDimAni .4s forwards;

                .top-img-wrap {
                    opacity: 1;
                }

                .view-all-type-box {
                    animation: openBoxAni .4s forwards;
                }
            }

            .top-img-wrap {
                @include positionSetting(relative, 60px, null, null, null, 10);
                max-width: 250px;
                opacity: 0;
                transition: .5s;

                img {
                    width: 100%;
                }
            }

            .view-all-type-box {
                @include boxSetting(null, 100%, 500px, 0 20px, 0 0 100px 0);
                max-width: 700px;
                min-width: 360px;
                position: relative;
                border-radius: 20px;
                border: 5px solid #000;
                background: #fff;

                .close-btn-wrap {
                    @include boxSetting(null, null, null, 15px 0 0 0, 0 0 15px 0);

                    button {
                        @include boxSetting(flex, 35px, 35px, null, 0 0 0 auto);
                        @include backgroundSetting("../img/close-icon.png", 100%);
                        text-indent: -9999px;
                    }
                }

                .view-all-type-box-title {
                    @include fontSetting(30px, #023784, null);
                    font-family: ONE Mobile POP;
                    margin-bottom: 15px;
                }

                .view-type-item-box-wrap {
                    overflow-y: scroll;
                    height: 350px;

                    ul {
                        @include boxSetting(flex, null, 100%, null, null);
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            @include boxSetting(null, 100px, null, null, 0 25px 10px);
                            @media (max-width: 600px){ margin: 0 0 10px 0;     }

                            img {
                                width: 100%;
                            }

                            p {
                                @include fontSetting(18px, #023784, bold);
                                font-family: ONE Mobile POP;
                            }
                        }
                    }
                }
            }
        }
    }

    .return-btn-wrap .return-btn {
        @include boxSetting(block, 360px, 70px, null, 0 auto);
        @include backgroundSetting("../img/return-btn.png", cover);
        text-indent: -9999px;
    }
}