body.noneScroll {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrpa {
  background: url("../img/KakaoTalk_20210609_121030825.jpg") no-repeat;
  background-size: 2850px 1860px;
  background-position: center;
}

.page1 {
  height: 890px;
  padding: 50px 0 0px;
  position: relative;
}

.page1 .page1-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.page1 .page1-inner .page1-title-wrap {
  width: 375px;
  height: 217px;
  margin: 30px 0 60px 0;
}

.page1 .page1-inner .page1-title-wrap img {
  width: 100%;
  height: 100%;
}

.page1 .page1-inner .btn-wrap {
  width: 350px;
  position: relative;
}

.page1 .page1-inner .btn-wrap button {
  width: 100%;
  height: 70px;
  text-indent: -9999px;
  background: url("../img/start-btn.png") no-repeat;
  background-size: cover;
}

.page1 .page1-inner .page1-img-wrap {
  width: 100%;
  overflow: hidden;
}

.page1 .page1-inner .page1-img-wrap .page1-imge {
  width: 100%;
  height: 324px;
  margin-top: 70px;
  background: url("../img/KakaoTalk_20210608_161429421.png") no-repeat center;
  background-size: 1000px 324px;
}

@media (max-width: 700px) {
  .page1 .page1-inner .page1-img-wrap .page1-imge {
    width: 100%;
    background: url("../img/KakaoTalk_20210608_175813125.png") no-repeat;
    background-size: 100% 280px;
  }
}

.page2 {
  height: 970px;
  padding-top: 80px;
  position: relative;
  overflow: hidden;
}

.page2 .page2-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.page2 .page2-inner .title-wrap {
  line-height: 35px;
  margin-bottom: 32px;
}

.page2 .page2-inner .title-wrap img {
  display: block;
  height: 35px;
}

.page2 .page2-inner .mbti-result-slide-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 900px;
  height: 330px;
  margin-bottom: 20px;
  position: relative;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container {
  width: 100%;
  height: 100%;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  border: 4px solid #000;
  background: #fff;
  padding-top: 30px;
  opacity: 0;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide.swiper-slide-prev {
  opacity: 0.5;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide.swiper-slide-active {
  opacity: 1;
  opacity: 1;
  background: #fff;
  z-index: 10;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide.swiper-slide-active .mbti-imge-btn {
  pointer-events: initial;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide.swiper-slide-next {
  opacity: 0.5;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide .mbti-title {
  font-size: 35px;
  color: #0080ff;
  margin-bottom: 10px;
  font-family: ONE Mobile POP;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide .mbti-subTitle {
  font-size: 22px;
  letter-spacing: -1px;
  font-family: ONE Mobile POP;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide .mbti-imge-btn {
  display: block;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  pointer-events: none;
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-slide .mbti-imge-btn .mbti-imge {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-button-prev {
    left: 330px;
  }
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-button-prev::after {
  font-weight: bold;
  color: #000;
}

@media (max-width: 500px) {
  .page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-button-next {
    right: 330px;
  }
}

.page2 .page2-inner .mbti-result-slide-wrap .swiper-container .swiper-button-next::after {
  font-weight: bold;
  color: #000;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background: #000000b5;
}

@-webkit-keyframes openDimAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes openDimAni {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes openBoxAni {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes openBoxAni {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: openDimAni .4s forwards;
          animation: openDimAni .4s forwards;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap.active .action-box-inner {
  -webkit-animation: openBoxAni .4s forwards;
          animation: openBoxAni .4s forwards;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner {
  width: 393px;
  height: 500px;
  background: #fff;
  padding: 6px 7px 12px;
  border: 4px solid #000;
  border-radius: 10px;
  overflow: hidden;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17px;
  height: 17px;
  text-indent: -9999px;
  margin: 0 0 0 auto;
  background: url("../img/close-icon.png") no-repeat;
  background-size: 100%;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .action-box-title {
  width: 273px;
  height: 28px;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -2px;
  margin: 0 auto;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .action-imge {
  height: 200px;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .action-title {
  height: 38px;
  line-height: 38px;
  font-size: 35px;
  font-weight: 900;
  color: #0080ff;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .action-text {
  height: 25px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.page2 .page2-inner .mbti-result-slide-wrap .action-box-wrap .action-box-inner .action-details-text-wrap {
  height: 140px;
  text-align: left;
  overflow: hidden;
  overflow-y: auto;
}

.page2 .page2-inner .download-btn-wrap {
  padding-top: 40px;
  margin-bottom: 100px;
}

.page2 .page2-inner .download-btn-wrap .download-title {
  height: 50px;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  letter-spacing: -2px;
  margin-bottom: 13px;
}

@media (max-width: 500px) {
  .page2 .page2-inner .download-btn-wrap .download-title {
    font-size: 20px;
  }
}

.page2 .page2-inner .download-btn-wrap .download-title span {
  color: #ffe000;
  font-weight: bold;
}

.page2 .page2-inner .download-btn-wrap .download-btn {
  display: block;
  width: 350px;
  height: 70px;
  text-indent: -9999px;
  margin: 0 auto;
  background: url("../img/download-btn.png") no-repeat;
  background-size: cover;
}

.page2 .page2-inner .sns-sharing-wrap {
  width: 382px;
}

.page2 .page2-inner .sns-sharing-wrap .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.page2 .page2-inner .sns-sharing-wrap .btn-wrap button {
  width: 60px;
  height: 60px;
  margin: 0 15px;
  border-radius: 20px;
  -webkit-box-shadow: 7px 6px 5px #00000033;
          box-shadow: 7px 6px 5px #00000033;
}

.page2 .page2-inner .sns-sharing-wrap .btn-wrap button.facebook-btn {
  background: url("../img/facebook.png") no-repeat;
  background-size: 100%;
}

.page2 .page2-inner .sns-sharing-wrap .btn-wrap button.kakao-btn {
  background: url("../img/kakao.png") no-repeat;
  background-size: 100%;
}

.page2 .page2-inner .sns-sharing-wrap .btn-wrap button.insta-btn {
  background: url("../img/instagram.png") no-repeat;
  background-size: 100%;
}

.page2 .page2-inner .nfqs-logo-wrap {
  margin-top: 65px;
}

.page2 .page2-inner .nfqs-logo-wrap a {
  display: block;
  width: 223px;
  height: 40px;
  text-indent: -9999px;
  background: url("../img/nfqs.png") no-repeat;
  background-size: cover;
}
